{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<header>
    <div class="header">
        <!--button class="btnMenu"><img src="/static/images/Menu.svg"/></button-->
        <div class="pos-f-t">
            <div class="side-nav collapse" id="navbarToggleExternalContent">
                <div class="bg-inverse p-4">
                    <div class="list-group">
                        <a href="{% url 'movies:list' %}"
                           class="list-group-item list-group-item-action">{% trans "Movies" %}</a>
                        <a href="{% url 'people:list' %}"
                           class="list-group-item list-group-item-action">{% trans "Personalities" %}</a>
                        <a href="{% url 'curation:list' %}"
                           class="list-group-item list-group-item-action">{% trans "Collections" %}</a>
                        <a href="{% url 'movies:field_list' %}"
                           class="list-group-item list-group-item-action">{% trans "Fields" %}</a>
                        <a href="{% url 'movies:about' %}"
                           class="list-group-item list-group-item-action">{% trans "About Archive" %}</a>
{#                        <a href="#"#}
{#                           class="list-group-item list-group-item-action">{% trans "Conservation and Restoration" %}</a>#}
{#                        <a href="#"#}
{#                           class="list-group-item list-group-item-action">{% trans "Depositing Materials" %}</a>#}
{#                        <a href="#"#}
{#                           class="list-group-item list-group-item-action">{% trans "Contact" %}</a>#}
{#                        <a href="#"#}
{#                           class="list-group-item list-group-item-action">{% trans "Jerusalem Cinematheque Site" %}</a>#}
                        {% if user.is_authenticated %}
                            <a href="#"
                               class="list-group-item list-group-item-action">{{ user }}</a>
                            <a href="{% url "logout" %}"
                               class="list-group-item list-group-item-action">{% trans "Logout" %}</a>
                        {% else %}
                            <a href="{% url "login" %}"
                               class="list-group-item list-group-item-action">{% trans "Login" %}</a>
                        {% endif %}
                    </div>

                </div>
            </div>
            <nav class="navbar-inverse bg-inverse">
                <button class="navbar-toggler btnMenu" type="button"
                        data-toggle="collapse"
                        data-target="#navbarToggleExternalContent"
                        aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="/static/images/Menu.svg"/>
                </button>
            </nav>
        </div>
        <div class="logo">
            <a href="{% url 'movies:home' %}#"><img
                    src="/static/images/Jerusalem_Cinematheque_Logo.png"
                    alt="Jerusalem Cinematheque Logo"></a>
            <span>{% trans "Israeli Film <br> Arcive" %}</span>
        </div>

        <form id="lang-form" action="{% url 'set_language' %}"
              method="post">{% csrf_token %}
            <input id="redirectLang" name="next" type="hidden"
                   value="{{ redirect_to }}"/>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            <input type="hidden" name="language"
                   value="{% if LANGUAGE_CODE == 'he' %}en-us{% else %}he{% endif %}">
            <input id="lang-switcher" type="submit" class="langHebEng" value="{% if LANGUAGE_CODE == 'he' %}English⏵{% else %}⏴עברית{% endif %}"/>
        </form>
{#        <a class="btnBag" href="#"><img src="/static/images/Shopping-bag.svg"/></a>#}
        <a id="searchShowHide" class="btnSearchIcon glyphicon glyphicon-search"
           href="#"></a>

        <form id="searchform" action="{% url 'search:query' %}">
            {% csrf_token %}
            <div id="searchBarUp">
                <div>
                    <input type="text" class="upperSearchInput sInput" name="q"
                           placeholder="{% trans 'Search...' %}">
                </div>
                <div>
                    <button class="searchIcon"
                            type="submit"><span class="fa fa-search"></span> </button>
                </div>
            </div>
        </form>

    </div>

    {% if view.jumbotron %}
        {% include view.jumbotron %}
    {% endif %}

</header>