@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body {
    background-color: white;
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.header {
    height: 45px;
    padding: 20px;
    color: white;
    background-color: black;
    position: relative;
}



h1 {
    background-color: #4a4a4a;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 18pt;
    padding: 10px;
    /*height: 45px;*/
    /*margin-top: -20px;*/
}

input#lang-switcher {
    background-color: black;
    border: none;
    color: white;
    font-style: italic;
    font-size: 0.8em;
}

.searchBox {
    background: white;
    box-shadow: 0 0 0 10px #D8D8D8;
    padding: 0;
}

.side-nav .list-group {
    position: absolute;
    top: 0;
    right: 0;
}

.side-nav .list-group-item.active {
    color: #fff;
    border-color: #5c5544;
    height: 67px;
    width: 338px;
    padding-top: 20px;
    border: none;
    font-size: 16pt;
    font-weight: 700;
}

.side-nav a.list-group-item.list-group-item-action {
    background-color: #4a4a4a;
    color: white;
    height: 67px;
    width: 338px;
    font-size: 13pt;
    padding-top: 20px;
}

.side-nav a.list-group-item.list-group-item-action:hover {
    background-color: #ffffff;
    color: #4a4a4a;
}

.side-nav a.list-group-item.list-group-item-action.disabled {
    color: black;
    background-color: #393939;
}

.side-nav .list-group-item {
    border: none;
}

.side-nav.list-group {
    text-align: right;
}

.side-nav .bg-inverse.p-4 {
    height: 100vh;
}

.movie-list .media  {
    height: 120px;
    overflow: hidden;
}
.movie-list .summary {
    overflow: hidden;
    height: 3em;
}

.movie-list .media h5 {
    margin-bottom: 3px;
}

.movie-list > .media:nth-child(odd)  {

    background: #f2f0f0;
}

.jumbotron  {
    margin:0;
}
.jumbotron h1 {
    color: #FFFFFF;
    font-family: "Open Sans Hebrew";
    font-size: 60px;
    font-weight: 300;
    /*line-height: 65px;*/
    text-align: center !important;
}

div#smaller_jum {
    height: 100px;
}

h5.totals {
    border-bottom: 2px solid #4A4A4A;
    font-size: 1.15em;
    line-height: 2em;
}

@media screen and (max-width: 844px) {
    .jumbotron {
        height: 266px;
    }
}
