body {
    font-family: 'Open Sans Hebrew', sans-serif !important;
    background-color: #D8D8D8;
}

.flex-rtl {
}

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.logo a {
    position: absolute;
    right: 40px;
    top: 3px;
    font-size: 1.4rem;
    color: white;
}

main {
    background-color: white;
    padding-bottom: 2rem;
}

.header {
    height: 45px;
    padding: 20px;
    color: white;
    background-color: #4A97E6;
    position: relative;
}

.btnMenu {
    height: 45px;
    width: 50px;
    background-color: #d8d8d8 !important;
    color: #7b7b7b;
    font-size: x-large;
    position: absolute;
    top: -45px;
    border: none;
    border-radius: 0;
}

h1 {
    background-color: #4a4a4a;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 18pt;
    padding: 10px;
    /*height: 45px;*/
    /*margin-top: -20px;*/
}

.lang-switcher {
    top: 0;
    position: absolute;
    padding: 0.25rem 1rem;
    color: white;
    font-style: italic;
    font-size: 1.4em;
}

.lang-switcher:hover {
    color: white;
}

.searchBox {
    background: white;
    box-shadow: 0 0 0 10px #D8D8D8;
    padding: 0;
}

.side-nav .list-group {
    position: absolute;
    top: 0;
    right: 0;
}

.side-nav .list-group-item.active {
    color: #fff;
    border-color: #5c5544;
    height: 67px;
    width: 338px;
    padding-top: 20px;
    border: none;
    font-size: 16pt;
    font-weight: 700;
}

.side-nav a.list-group-item.list-group-item-action {
    background-color: #4a4a4a;
    color: white;
    height: 67px;
    width: 338px;
    font-size: 13pt;
    padding-top: 20px;
}

.side-nav a.list-group-item.list-group-item-action:hover {
    background-color: #ffffff;
    color: #4a4a4a;
}

.side-nav a.list-group-item.list-group-item-action.disabled {
    color: black;
    background-color: #393939;
}

.side-nav .list-group-item {
    border: none;
}

.side-nav.list-group {
    text-align: right;
}

.side-nav .bg-inverse.p-4 {
    height: 100vh;
}

.movie-list .media {
    height: 120px;
    overflow: hidden;
}

.movie-list .summary {
    overflow: hidden;
    height: 3em;
}

.movie-list .media h5 {
    margin-bottom: 3px;
}

.movie-list > .media:nth-child(odd) {

    background: #f2f0f0;
}

body .jumbotron {
    height: 16rem;
    padding: 2rem;
    background-image: url(./images/film-movie-motion-picture-darker.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 300;
    text-align: center !important;
}

@media screen and (max-width: 844px) {
    .jumbotron {
        height: 6rem;
        padding: 1rem;
    }

    .jumbotron .display-4 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .jumbotron {
        height: 4rem;
        padding: 0.5rem;
    }

    .jumbotron .display-4 {
        font-size: 2rem;
    }
}

div#smaller_jum {
    height: 100px;
}

h5.totals {
    border-bottom: 2px solid #4A4A4A;
    font-size: 1.15em;
    line-height: 2em;
}

footer {
    background-color: #4A97E6;
    padding-top: 30px;
    padding-bottom: 10px;
    color: white;
}

footer a {
    color: white;
}

@media (max-width: 750px) {
    #searchform {
        top: 58px !important;
        margin-left: 126px !important;
    }

    .header {
        height: 101px !important;
    }
}

.bg-editor {
    background: #feffa2;
}

.auto-dir p {
    direction: inherit;
}