# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv
/venv/

# mypy
.mypy_cache/

# db
db.sqlite3

.idea/

/idea_data/
/IdeaData

/ifx/local_settings.py
/local_fabfile.py
