[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
django-extensions = "*"
django-taggit = "*"
ipython = "*"
silly = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
pexpect = "*"
wikipedia = "*"
"django-bootstrap4" = "*"
Wikidata = "*"
django-filter = "*"
celery = "*"
django-authtools = "*"
"psycopg2-binary" = "*"


[dev-packages]

notebook = "*"
"Fabric3" = "*"
