{% load i18n static %}

<footer>
    <div class="row container">
        <div class="col col-xs-3">
            <img id="cinemathequeLogoFooter" src="/static/images/Jerusalem_Cinematheque_LogoBlack.png" alt="Jerusalem Cinematheque Logo" />
        </div>
        <section class="col col-xs-3">
            <h4>{% trans "Contact" %}</h4>
            <span>{% trans "Pel: 02-5654332" %}</span><br>
            <span>{% trans "Email: rusom@jer-cin.org.il" %}</span>
        </section>
        <section class="col col-xs-3">
            <h4>{% trans "Address" %}</h4>
            <span>{% trans "11 Hebron rd. POB 8651 <br> Jerusalem, 9108402" %}</span>
        </section>
        <section class="col col-xs-3">
            <h4>{% trans "Enter Site" %}</h4>
            <a href="https://www.jer-cin.org.il/en">{% trans "Jerusalem Cinematheque" %}</a>
        </section>
    </div>
</footer>