{% load static i18n %}
<!--{% load i18n static movies %}-->
{% get_current_language as LANGUAGE_CODE %}

<div class="row movieResult">
    <img class="col-3" src="{% static 'images/cinemathequepic.jpg' %}" />
    <div class="col-9">
        <section>
            <h3>
                <strong>
                    <a href= "{% url 'movies:movie_detail' object.id %}">{{ object.get_pretty_title }}</a>
                </strong>
                {% if object.year != none %}
                    ({{ object.year }})
                {% endif %}
                {% if object.duration != none %}
                    <span>{{ object.duration }} {% trans "min" %}</span>
		        {% endif %}
            </h3>
            <form action="">
                <input type="image" src="{% static 'images/Shopping-bag-black.svg' %}" alt="Submit">
            </form>
            <p>{% trans "Director" %}: <strong>Name</strong></p>
            {% if object|get_description and object|get_description|length > 400 %}
                <p><strong>{% trans "Summery" %}:</strong>
                    {{ object|get_description|slice:":400" }}...
                </p>
            {% elif object|get_description and bject|get_description|length > 2 %}
                <p><strong>{% trans "Summery" %}:</strong>
                    {{ object|get_description }}
                </p>
             {% endif %}
        </section>
    </div>
    <hr>
</div>