{% load static i18n movies ifx humanize %}

{% if not hide_totals %}
    <h5 class="totals">
        {% if count == 0 %}
            {% trans "No items found" %}
        {% elif count == 1 %}
            {% trans "One item found" %}
        {% else %}
            {% trans "Found" %}
            {{ count|intcomma }}
            {% trans "items" %}
        {% endif %}
    </h5>
{% endif %}

{% pagination page_obj %}

<ul class="list-unstyled movie-list">
    {% for m in object_list %}

        <li class="media m-2">
            <img class="mr-3"
                 src="{% static "images/camera-icon.png" %}"
                 height="120"
                 width="120"
                 alt="{{ m|bdtitle }}"/>

            <div class="media-body p-2">

                <h5>
                    <strong>
                        {% if m.roles %}
                            {% for role in m.roles %}
                                {{ role|bdtitle }}{% if forloop.last %}:
                                {% else %}, {% endif %}{% endfor %}
                        {% endif %}
                        {{ m|ut_plus }}
                    </strong>
                    {% if m.year != none %}
                        <span dir="ltr" class="year">({{ m.year }})</span>
                    {% endif %}
                </h5>
                <ul class="list-inline">
                    {% for key, values in m.get_short_data %}
                        <li class="list-inline-item">
                            <b>{{ key|bdtitle }}:</b>
                            {% for value in values %}
                                {{ value|ut }}{% if not forloop.last %}
                                    ,{% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                    {% for r in m.get_short_roles %}
                        <li class="list-inline-item">
                            <b>{{ r.role|bdtitle }}:</b> {{ r.person|ut_plus }}
                        </li>
                    {% endfor %}
                    {% if m.duration %}
                        <li class="list-inline-item">
                            <span class="badge badge-light p-0"><span
                                    class="fa fa-clock"></span> {{ m.duration|duration }} </span>
                        </li>
                    {% endif %}

                </ul>
                {% if m|get_description %}
                    <p class="summary ellipsis multiline">
                        <strong>{% trans "Summary" context "movie" %}:</strong>
                        {{ m|get_description }}
                    </p>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

{% pagination page_obj %}
