{% load i18n static %}

<div class="row movieResult">
    <img class="col-3" src="{% static 'images/cinemathequepic.jpg' %}" />
    <div class="col-9">
        <section>
            <h3><strong>{% trans "Movie name" %}</strong> {% trans "(Year)" %} <span>128 {% trans "min" %}</span></h3>
            <form action="">
                <input type="image" src="{% static 'images/Shopping-bag-black.svg' %}" alt="Submit">
            </form>
            <p>{% trans "Director" %}: <strong>Efraim Keshon</strong></p>
            <p><strong>{% trans "Summery" %}:</strong>
                השוטר אזולאי" מתאר את חייו של אברהם אזולאי, שוטר ביפו אשר במשך כל עשרים שנות שרותו במשטרה נותר בתפקיד שוטר מקוף פשוט בדרגת רב-שוטר. הסיבה העיקרית לכך היא כשלונותיו תקציר: "השוטר אזולאי" מתאר את חייו של אברהם אזולאי, שוטר ביפו אשר במשך כל עשרים שנות שרותו במשטרה נותר בתפקיד שוטר מקוף פשוט בדרגת רב-שוטר…
            </p>
        </section>
    </div>
    <hr>
</div>