{% extends 'base.html' %}
{% load static i18n ifx %}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url "movies:field_list" %}">{% trans "Fields" %}</a>
        </li>
        <li class="breadcrumb-item active">
            {{ object }}
        </li>
    </ol>

    <h1>{{ object }}</h1>

    <ul>
        <li>
            <ul>
                {% for tag in object.get_tags %}
                    <li>
                        {{ tag|ut }}
                        ({{ tag.count }})
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% endblock %}
