{% extends 'movies/../base.html' %}
{% load static i18n %}

{% block content %}
    <h1>Field #{{ o.id }}</h1>

    <ul>
        <li><b>Title: {{ o.title }}</b></li>
        <li>fid: {{ o.tid }} </li>
        <li>
            <ul>
                {% for tag in tags %}
                    <li>
                        <a href="{% url "movies:tag_detail" tag.id %}">{{ tag }}</a>
                        ({{ tag.count }})
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <a href="{% url "movies:field_list" %}">Back To My Fields</a>

{% endblock %}
