<h1>My Movies</h1>

<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Length</th>
        <th>Title</th>
        <th>bid</th>
    </tr>
    {% for object in objects %}
        <tr>
            <td>#{{ object.id }}</td>
            <td>{{ object.date }}</td>
            <td>{{ object.length }} Minutes </td>
            <td>
                <a href="{% url "movies:detail" object.id %}">{{ object.title }}</a>
            </td>
            <td>{{ object.bid }}</td>

        </tr>
    {% endfor %}

</table>
