{% load i18n %}

<div class="jumbotron">
    <h1>{% trans "The Israeli Film Archive" %}</h1>
    <form id="searchform" action="{% url 'search:query' %}">
        <div class="row justify-content-md-center">
            <div class="col col-sm-6 searchBox">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           id="searchbox"
                           name="q" placeholder="{% trans 'Search...' %}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>