{% extends 'base.html' %}
{% load static i18n ifx %}

{% block header_container %}
    <h1>
        <div class="row flex-rtl">
            <div class="col-6 rtl">
                <b>{{ object.title_he }}</b>
                {% if movie.year %}
                    <span title="{% trans "Year" %}">({{ movie.year }})</span>
                {% endif %}
            </div>
            <div class="col-6 ltr">
                <b>{{ object.title_en }}</b>
                {% if movie.year %}
                    <span title="{% trans "Year" %}">({{ movie.year }})</span>
                {% endif %}
            </div>
        </div>
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-8">
            <ul class="list-unstyled">
                {% if movie.duration %}
                    <li><span title="{{ movie.duration }} {% trans "m." %}"
                              class=""><span
                            class="fa fa-clock"></span> {{ movie.duration|duration }} </span>
                    </li>
                {% endif %}
                {% if movie.summary_he %}
                    <li>
                        {{ movie.summary_he|linebreaks }}
                    </li>
                {% endif %}
                {% if movie.summary_en %}
                    <li>
                        <b>{% trans "English Summary" %}</b>:
                        {{ movie.summary_en|linebreaks }}
                    </li>
                {% endif %}
                {% for key, values in movie.get_extra_data %}
                    <li>
                        <b>{{ key }}:</b>
                        {% for value in values %}
                            {{ value|ut }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            {% if movie.people.exists %}
                <h4>
                    {% trans "Personalities" %}
                </h4>
                <ul>
                    {% for role in movie.people.all %}
                        <li>
                            <b>{{ role.role|bdtitle }}:</b> {{ role.person|un }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="col-md-6 col-lg-4">
            {% include "links/_links.html" with create_url="links:create_movie" edit_url="links:update_movie" %}
            {% include "enrich/_suggestions.html" %}
            <div class="card bg-warning mb-2">
                <div class="card-header">
                    {% trans "Search the web" %}
                </div>
                <ul class="list-group list-group-flush">

                    {% if movie.title_he %}
                        <li class="list-group-item">
                            {% trans "Hebrew Title" %}
                            {% search_links movie.title_he 'he' %}:
                            {% if movie.year %}
                                | +{% trans "Year" %}:
                                {% search_links movie.title_and_year_he 'he' %}
                            {% endif %}
                        </li>
                    {% endif %}

                    {% if movie.title_en %}
                        <li class="list-group-item">
                            {% trans "English Title" %}:
                            {% search_links movie.title_en 'en' %}
                            {% if movie.year %}
                                | +{% trans "Year" %}:
                                {% search_links movie.title_and_year_en 'en' %}
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>

            </div>
            {% if movie.idea_bid %}
                <div class="card bg-dark">
                    <div class="card-body">
                        <p class="card-text text-light">
                            {% trans "Legacy ID" %}: {{ movie.idea_bid }}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}






