{% extends 'base.html' %}
{% load static i18n ifx %}

{% block header_container %}
    <h1>
        <div class="row flex-rtl">
            <div class="col-6 rtl">
                {% if object.title_he %}
                    <b>{{ object.title_he }}</b>
                    {% if movie.year %}
                        <span title="{% trans "Year" %}">({{ movie.year }})</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-6 ltr">
                {% if object.title_en %}
                    <b>{{ object.title_en }}</b>
                    {% if movie.year %}
                        <span title="{% trans "Year" %}">({{ movie.year }})</span>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </h1>
    {% if not object.active %}
        <p class="display-1 bg-danger text-center">
            {% trans "INACTIVE" %}
        </p>
        {% if object.merged_into %}
            <p class="display-3 bg-danger text-center">
                {% trans "Merged into" %}
                {{ object.merged_into|ut_plus }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-8">
        <ul class="list-unstyled">
            {% if movie.duration %}
                <li><span title="{{ movie.duration }} {% trans "m." %}"
                          class=""><span
                        class="fa fa-clock"></span> {{ movie.duration|duration }} </span>
                </li>
            {% endif %}
            {% if movie.summary_he and user.is_editor %}
                <li class="bg-editor border border-warning pt-2 pl-2 pr-2 mb-2 hebrew">
                    {{ movie.summary_he|linebreaks }}
                </li>
            {% endif %}
            {% if movie.summary_en and user.is_editor %}
                <li class="bg-editor border border-warning pt-2 pl-2 pr-2 mb-2 english">
                    {{ movie.summary_en|linebreaks }}
                </li>
            {% endif %}

            {% for key, values in movie.get_extra_data %}
                <li>
                    <b>{{ key }}:</b>
                    {% for value in values %}
                        {{ value|ut }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% if movie.people.exists %}
            <h4>
                {% trans "Personalities" %}
            </h4>
            <ul>
                {% for role in movie.people.active %}
                    <li>
                        <b>{{ role.role|bdtitle }}:</b> {{ role.person|ut_plus }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="col-md-6 col-lg-4">
        {% include "enrich/_suggestions.html" %}

        {% include "links/_links.html" with create_url="links:create_movie" edit_url="links:update_movie" %}

        <div class="card bg-warning mb-2">
            <div class="card-header">
                {% trans "Search the web" %}
            </div>
            <ul class="list-group list-group-flush">
                {% if movie.title_he %}
                    <li class="list-group-item">
                        {% trans "Hebrew Title" %}
                        {% search_links movie.title_he 'he' %}:
                        {% if movie.year %}
                            | +{% trans "Year" %}:
                            {% search_links movie.title_and_year_he 'he' %}
                        {% endif %}
                    </li>
                {% endif %}

                {% if movie.title_en %}
                    <li class="list-group-item">
                        {% trans "English Title" %}:
                        {% search_links movie.title_en 'en' %}
                        {% if movie.year %}
                            | +{% trans "Year" %}:
                            {% search_links movie.title_and_year_en 'en' %}
                        {% endif %}
                    </li>
                {% endif %}
            </ul>

        </div>

        {% if user.is_editor %}

            {% if not object.wikidata_id %}
                <div class="card mb-2">
                    <h4 class="card-header">
                        <a href="{% url "movies:upload" object.id %}">
                            <span class="fa fa-upload"></span> {% trans "Upload to WikiData" %}
                        </a>
                    </h4>
                </div>
            {% endif %}

            {% include "_idea_bid.html" %}

            <div class="card bg-success mb-1">
                <div class="card-body">
                    <p class="card-text text-light">
                        <a class="text-light"
                           href="{% url "movies:edit" object.id %}">
                            <span class="fa fa-edit"></span> {% trans "Edit" %}
                        </a>
                        |
                        <a class="text-light"
                           href="{% url "editing_logs:movie" object.id %}">
                            <span class="fa fa-list"></span> {% trans "Logs" %}
                        </a>
                    </p>
                </div>
            </div>

            {% if view.possible_duplicates.count %}

                <div class="card bg-warning mb-1">
                    <div class="card-header">
                        {% trans "Possible Duplicates" %}
                    </div>
                    <ul class="list-group">
                        {% for m in view.possible_duplicates %}
                            <a href="{{ m.get_absolute_url }}"
                               class="list-group-item  list-group-item-action">
                                <span class="badge badge-primary">#{{ m.id }}</span>
                                {{ m|bdtitle_plus }}
                                {% if m.year != none %}
                                    <span dir="ltr"
                                          class="year">({{ m.year }})</span>
                                {% endif %}
                                {% if m.duration %}
                                    <span class="badge badge-light p-0"><span
                                            class="fa fa-clock"></span> {{ m.duration|duration }} </span>
                                {% endif %}
                            </a>
                            <a href="{% url "movies:merge" object.id m.id %}"
                               class="list-group-item  list-group-item-action">
                                <span class="fa fa-code-branch"></span> {% trans "Merge" %}
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if object.vendor_items.count %}

                <div class="card bg-warning mb-1">
                    <div class="card-header">
                        {% trans "Vendor Items" %}
                    </div>
                    <ul class="list-group">
                        {% for vi in object.vendor_items.all %}
                            <a href="{{ vi.url }}"
                               title="{{ vi.vid }}"
                               class="list-group-item  list-group-item-action">
                                <b>{{ vi.vendor.title }}</b>
                                {% if vi.year and vi.year != object.year  %}
                                    <span class="badge badge-danger" dir="ltr"
                                          class="year">{{ vi.year }}</span>
                                {% endif %}
                                {% if vi.duration and vi.duration != object.duration  %}
                                    <span class="badge badge-danger"><span
                                            class="fa fa-clock"></span> {{ vi.duration|duration }} </span>
                                {% endif %}
                                {% if vi.title_he and vi.title_he != object.title_he %}
                                    <span class="badge badge-danger" dir="rtl"><span
                                            class="fa fa-exclamation-triangle"></span> {{ vi.title_he }} </span>
                                {% endif %}
                                {% if vi.title_en and vi.title_en != object.title_en %}
                                    <span class="badge badge-danger" dir="ltr"><span
                                            class="fa fa-exclamation-triangle"></span> {{ vi.title_en }} </span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}


    </div>
</div>

{% endblock %}






