{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}

    <h1>
        {% trans "Movies" %}
        <small class="text-muted">
            {{ page_obj.start_index }} - {{ page_obj.end_index }}
            {% trans "of" %} {{ paginator.count|intcomma }}
        </small>
    </h1>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?order={{ view.get_ordering }}&page=1
                        {% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo; {% trans "first" %}</a>
                |
                <a href="?order={{ view.get_ordering }}&page=
                        {{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "previous" %}</a>
                |
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                |
                <a href="?order={{ view.get_ordering }}&page=
                        {{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "next" %}</a>
                |
                <a href="?order={{ view.get_ordering }}&page=
                        {{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% include 'movies/_movies.html' %}

{% endblock %}

