{% extends 'movies/../base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <h1 id="h1reasult"><strong>{% trans "Title" %} {{ movie.get_pretty_title }}</strong> ({{ movie.year }})</h1>
        <form action="">
                <input class="addToChart" type="image" src="{% static 'images/Shopping-bag-black.svg' %}" alt="Submit">
        </form>

        <div class="movieDetails">
            <div class="row">
                <div class="col-6">
                    <h5>{% trans "Runtime" %}: <span>{{ object.duration }} {% trans "min" %}</span></h5>
                    <h5>{% trans "Director" %}: <span>{}</span></h5>
                    <h5>{% trans "Producer" %}: <span>{}</span></h5>
                    <h5>{% trans "Screenwriter" %}: <span>{}</span></h5>
                    <h5>{% trans "Photographer" %}: <span>{}</span></h5>
                    <h5>{% trans "Cast" %}: <span>{}</span></h5>
                    <h5>{% trans "Genre/s" %}: <span>{}</span></h5>
                    <h5>{% trans "Color" %}: <span>{}</span></h5>
                </div>
                <div class="col-6">
                    <img src="" />
                </div>
            </div>

            <hr>
            <section>
                <h5>{% trans "Summery" %}:</h5>
                <p>
                    {{value}}
                </p>
            </section>

        </div>
    </div>
{% endblock %}