{% extends 'base.html' %}
{% load static i18n ifx %}

{% block content %}

    {#    <h1>#}
    {#        {{ movie|bdtitle }}#}
    {#    </h1>#}

    <ul>
        {% if movie.title_he %}
            <li><b>{% trans "Hebrew Title" %}:</b> {{ movie.title_he }}</li>
        {% endif %}

        {% if movie.title_en %}
            <li><b>{% trans "English Title" %}:</b> {{ movie.title_en }}</li>
        {% endif %}
        {% if movie.year %}
            <li><b>{% trans "Year" %}</b>: {{ movie.year }}</li>
        {% endif %}
        {% if movie.duration %}
            <li><span title="{{ movie.duration }} {% trans "m." %}"
                      class="badge badge-light p-0"><span
                    class="fa fa-clock"></span> {{ movie.duration|duration }} </span>
            </li>
        {% endif %}
        {% if movie.summary_he %}
            <li>
                {{ movie.summary_he|linebreaks }}
            </li>
        {% endif %}
        {% if movie.summary_en %}
            <li>
                <b>{% trans "English Summary" %}</b>:
                {{ movie.summary_en|linebreaks }}
            </li>
        {% endif %}
        {% for key, values in movie.get_extra_data %}
            <li>
                <b>{{ key }}:</b>
                {% for value in values %}
                    {{ value|ut }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            </li>
        {% endfor %}
        {% if movie.idea_bid %}
            <li><span
                    class="bg-warning">{% trans "Legacy ID" %}: {{ movie.idea_bid }}</span>
            </li>
        {% endif %}
    </ul>
    {% if movie.people.exists %}
        <h4>
            {% trans "Personalities" %}
        </h4>
        <ul>
            {% for role in movie.people.all %}
                <li>
                    <b>{{ role.role|bdtitle }}:</b> {{ role.person|un }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="list-group">
        {% for s in movie.suggestions.all %}
            {% if s.status == s.Status.AUTO_ACCEPTED %}
                <li class="list-group-item">
                    <a href="{{ s.source_url }}">{{ s.get_source_display }}: {{ s.source_key }}</a>
                </li>
            {% else %}
                <li class="list-group-item list-group-item-danger">
                    {{ s.get_source_display }}: {{ s.get_status_display }}
                    {% for en in s.result %}
                        <span class="badge badge-default">
                            <a href="http://www.wikidata.org/entity/{{ en.id }}">
                                {{ en.labels.he.value|default:en.labels.en.value }} ({{ en.id }})
                            </a>
                        </span>
                    {% endfor %}

                </li>
            {% endif %}
        {% endfor %}
    </ul>



{% endblock %}






