{% extends 'movies/../base.html' %}
{% load static i18n %}

{% block content %}
    <h1>Person #{{ o.id }}</h1>

    <ul>
        <li>tid: {{ o.tid }}</li>
        <li>name_he: {{ o.name_he }}</li>
        <li>name_en: {{ o.name_en }}</li>
        <li>first_name_he: {{ o.first_name_he }}</li>
        <li>first_name_en: {{ o.first_name_en }}</li>
        <li>last_name_he: {{ o.last_name_he }}</li>
        <li>last_name_en: {{ o.last_name_en }}</li>
    </ul>

	{% for item in r %}
		{{ item.role.title_he }}:
		<li><a href="{% url 'movies:movie_detail' item.movie.id %}">{{ item.movie.get_title }}</a></li>

	{% endfor %}

    <a href='{% url "movies:person_list" %}'>Back To My People</a>

{% endblock %}
