{% extends 'movies/base.html' %}
{% load static i18n %}

{% block content %}
    <div class="container">
        <h1 id="h1reasult">{% trans "Search reasults for:" %}</h1>
        <div class="row justify-content-between">
            <div class="col-6">
                <span>{% trans "105 Titles were found" %} {{query}}</span>
            </div>

            <div class="col-6 sortBy">
                <span>{% trans "Sorted by:" %}</span>
                  <select class="dropdown dropBtnSearchUp sortDropdown" aria-labelledby="dropdownMenu1">
                    <option value="1"><a href="#">{% trans "Title A-Z" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="2"><a href="#">{% trans "Oldest" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="3"><a href="#">{% trans "Newest" %}</a></option>
                      <span role="separator" class="divider"></span>
                    <option value="4"><a href="#">{% trans "Director A-Z" %}</a></option>
                  </select>
            </div>

        </div>

        <hr>
        <div>
            {% block movie %}{% include 'movies/_movie_search.html' %}{% endblock %}
        </div>
    </div>
{% endblock %}