{% load i18n %}

<div id="smaller_jum" class="jumbotron">
    <form id="searchform" action="{% url 'search:query' %}">
        <div class="row justify-content-center">
            <div class="col col-md-7 col-sm-8 col-xs-9 searchBox">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           id="searchbox"
                           name="q" placeholder="{% trans 'Search...' %}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>