{% extends 'base.html' %}
{% load static i18n ifx %}

{% block content %}
    <ul>
        {% if object.title_he %}
            <li><b>{% trans "Hebrew Title" %}:</b> {{ object.title_he }}</li>
        {% endif %}

        {% if object.title_en %}
            <li><b>{% trans "English Title" %}:</b> {{ object.title_en }}</li>
        {% endif %}

    </ul>
    {{ object.active_movies.count }} {% trans "Movies" %}
    <ul class="list-group">
        {% for item in object.active_movies %}
            <li class="list-group-item">
                <a href="{% url 'movies:detail' item.movie.id %}">
                    {{ item.movie.get_title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
