{% extends 'movies/../base.html' %}
{% load static i18n %}

{% block content %}

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "style.css" %}" rel="stylesheet">

    <h1>My Tags</h1>

    <ul>Count: {{count}} items</ul>
    <table border="1" width="100%">
        <tr>
            <th>#</th>
            <th>tid</th>
            <th>Title</th>
            <th>Tag-Field Count</th>
            <th>Movie-Tag-Field Count</th>
        </tr>
        {% for object in objects %}
            <tr>
                <td>#{{ object.id }}</td>
                <td>{{ object.tid }}</td>
                <td>
                    <a href= "{% url 'movies:tag_detail' object.id %}">{{ object.title }}</a>
                </td>
                <td>{{ object.tag_field_set.count }}</td>
                <td>{{ object.movie_tag_field_set.count }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}