{% extends 'movies/../base.html' %}
{% load static i18n %}

{% block content %}

    <h1>Tag #{{ o.id }}</h1>

    <ul>
        <li><b>Title: {{ o.title }}</b></li>
        <li>tid: {{o.tid}} </li>
        <li>type_id: {{o.type_id}} </li>
        <li>lang: {{o.lang}} </li>
        <li>
            Movie-Field-Tag ({{ o.movie_tag_field_set.count }} item(s)):
            {% for item in o.movie_tag_field_set.all %}
                <ul>
                    Movie:
                    <a href= "{% url 'movies:movie_detail' item.movie.id %}">
                        {{item.movie.get_title}}</a>,
                    Field:
                    {{ item.field}}
                </ul>
            {% endfor %}
        </li>
    </ul>

    <a href="{% url 'movies:tag_list' %}">Back To My Tags</a>

{% endblock %}
