{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}

    <h1>{% trans "Tags" %}</h1>

    <div class="pagination">
        <span>
        {{ page_obj.start_index }}-{{ page_obj.end_index }}
        of {{ paginator.count|intcomma }}
        </span>
        |
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?order={{ view.get_ordering }}&page=1">&laquo; first</a>
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="?order={{ view.get_ordering }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <table border="1" width="100%">
        <tr>
            <th>#</th>
            <th>idea_tid</th>
            <th>Title</th>
            <th>Field</th>
            <th>Language</th>
            <th>Movies</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>#{{ object.id }}</td>
                <td>{{ object.idea_tid }}</td>
                <td>
                    <a href= "{% url 'movies:tag_detail' object.id %}">{{ object.title }}</a>
                </td>
                <td>{{ object.type_id }}</td>
                <td>{{ object.lang }}</td>
                <td>{{ object.movies.count }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}