{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static "style.css" %}" rel="stylesheet">

<h1>My Tags</h1>

<ul>Count: {{count}} items</ul>
<table border="1" width="100%">
    <tr>
        <th>#</th>
        <th>tid</th>
        <th>Title</th>
    </tr>
    {% for object in objects %}
        <tr>
            <td>#{{ object.id }}</td>
            <td>{{ object.tid }}</td>
            <td>{{ object.title }}</td>
        </tr>
    {% endfor %}

</table>
