{% extends 'base.html' %}
{% load static i18n humanize %}

{% block content %}

    <h1>{% trans "Collections" %}</h1>

    <ul>
        <a href= {% url "collections:create" %}>
            {% trans "Add collection" %}...
        </a>
    </ul>

    <table border="1" width="100%">
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
        {% for object in objects %}
            <tr>
                <td>#{{ object.id }}</td>
                <td>
                    <a href={% url "collections:detail" object.id %}>{{ object.title }}</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}