<!doctype html>
{% load staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}" class="lang-{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static "favicon.ico" %}"/>

    {% if LANGUAGE_CODE == 'he' %}
        <link rel="stylesheet"
              href="{% static "vendor/bootstrap/css/bootstrap-rtl.css" %}">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'style_rtl.css' %}" rel="stylesheet">
    {% else %}
        <link rel="stylesheet"
              href="{% static "vendor/bootstrap/css/bootstrap-ltr.css" %}">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'style_ltr.css' %}" rel="stylesheet">
    {% endif %}
    <link href="{% static 'vendor/font-awesome/css/fontawesome-all.css' %}"
          rel="stylesheet">


    <title>
        {% block title %}
            {{ view.get_title }}
        {% endblock %}
        🎞 {% trans "IFX" %}
    </title>
</head>
<body>

{% include '_header.html' %}

{% block main %}
    <main class="container">

        {% with view.get_breadcrumbs as bread %}
            {% if bread %}
                <ol class="breadcrumb">
                    {% for bc in bread %}
                        <li class="breadcrumb-item">
                            <a href="{{ bc.1 }}">
                                {{ bc.0 }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        {% endwith %}

        {% block header_container %}
            <h1>
                {% block header %}
                    {{ view.get_header }}
                {% endblock %}
            </h1>
        {% endblock %}

        {% block content %}
            CONTENT
        {% endblock %}
    </main>
{% endblock %}

{% include '_footer.html' %}

</body>

<script src="{% static "vendor/jquery-3.2.1.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
<script src="{% static 'allScripts.js' %}"></script>

</html>