{% extends 'base.html' %}
{% load static i18n humanize ifx %}

{% block content %}

    {% pagination page_obj %}

    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item">
                {{ object|un }}
                <span dir="ltr">({{ object.movies.count }})</span>

                ({% for mrp in object.distinct_roles %}{{ mrp.role|bdtitle }}{% if not forloop.last %}, {% endif %}{% endfor %})

            </li>
        {% endfor %}
    </ul>

    {% pagination page_obj %}

{% endblock %}