{% extends 'base.html' %}
{% load static i18n humanize ifx bootstrap4 %}

{% block content %}

    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <h5 class="totals">
                {% trans "Filter" %}
            </h5>

            <form>
                {% bootstrap_form filter.form %}
                <button class="btn btn-primary">{% trans "Filter" %}</button>
            </form>
        </div>
        <div class="col-sm-9 col-md-10 col-lg-10">

            <h5 class="totals">
                {% if paginator.count == 0 %}
                    {% trans "No items found" %}
                {% elif paginator.count == 1 %}
                    {% trans "One item found" %}
                {% else %}
                    {% trans "Found" %}
                    {{ paginator.count |intcomma }}
                    {% trans "items" %}
                {% endif %}
            </h5>

            {% pagination page_obj %}

            <ul class="list-group">
                {% for object in object_list %}
                    <li class="list-group-item">
                        {{ object|un }}
                        <span dir="ltr">({{ object.movies.count }})</span>

                        ({% for mrp in object.distinct_roles %}
                        {{ mrp.role|bdtitle }}{% if not forloop.last %},
                        {% endif %}{% endfor %})

                    </li>
                {% endfor %}
            </ul>

            {% pagination page_obj %}
        </div>
    </div>

{% endblock %}