{% extends 'base.html' %}
{% load static i18n humanize bootstrap4 ifx %}

{% block header %}
    {% if object %}
        {% trans "Edit Link" %}
    {% else %}
        {% trans "Add Link" %}
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}

        {% bootstrap_form form %}

        <button class="btn btn-primary">
            <span class="fa fa-save"></span>
            {% if object %}
                {% trans "Save" %}
            {% else %}
                {% trans "Add" %}
            {% endif %}
        </button>
    </form>
{% endblock %}