{% load i18n %}
<div>
    <b>{{ e.labels.he.value }}</b>: {{ e.descriptions.he.value }}
    {% for a in e.aliases.he %}
        <br/>
        <span class="fa fa-plus"></span>
        {{ a.value }}
    {% endfor %}
    <br/>
    <b>{{ e.labels.en.value }}</b>: {{ e.descriptions.en.value }}
    {% for a in e.aliases.en %}
        <br/>
        <span class="fa fa-plus fa-sm"></span>
        {{ a.value }}
    {% endfor %}
    <form class="form-inline confirm" action="{% url "enrich:set_wd_id" s.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="wikidata_id" value="{{ e.id }}">
        <button class="btn btn-primary btn-sm"><span class="fa fa-check"
                                                     title="{% trans "Accept Wikidata ID" %}"></span>
        </button>
    </form>
</div>
