{% load i18n staticfiles ifx %}
{% if object.wikidata_id %}
    <div class="card mb-2">
        <h4 class="card-header">
            <a class="" href="{{ object.wikidata_url }}"
               title="{% trans "WikiData" %} {{ object.wikidata_id }}">
                <img src="{% static "images/wikidata-logo.svg" %}" alt="{% trans "WikiData" %}"
                     height="26"
                ><span class="d-none d-xl-inline">{% trans "WikiData item" %}</span></a>
            |
            <a class="" href="https://tools.wmflabs.org/sqid/#/view?id={{ object.wikidata_id }}"
               title="SQID {{ object.wikidata_id }}">
                <img src="{% static "images/sqid.svg" %}" alt="{% trans "SQID" %}"
                     height="24" width="16"
                ></a>
            <a class="" href="https://tools.wmflabs.org/reasonator/?q={{ object.wikidata_id }}"
               title="Reasonator {{ object.wikidata_id }}">
                <img src="{% static "images/reasonator.png" %}" alt="{% trans "Reasonator" %}"
                     height="22"
                ></a>
            <a class="" href="{{ object.wikidata_id|wikidata_query_link }}"
               title="Backlinks {{ object.wikidata_id }}">
                <span class="fa fa-table fa-sm"></span></a>

        </h4>
    </div>
{% else %}
    {% for s in object.suggestions.all %}
        <div class="card mb-2">
            <div class="card-header bg-{{ s.status_tag }}">
                <b class="card-title">
                    {{ s.get_source_display }}: {{ s.get_status_display }}
                    &nbsp;
                    <kbd><a href="https://www.wikidata.org/w/index.php?search={{ s.query|urlencode }}">{{ s.query }}</a></kbd>
                    <div class="float-right">
                        <form class="form-inline d-inline"
                              action="{% url 'enrich:refresh' s.id %}"
                              method="post">
                            {% csrf_token %}
                            <button class="btn btn-warning btn-sm"><span
                                    class="fa fa-sync-alt"></span></button>
                        </form>
                    </div>
                    {% if s.source_key %}
                        <a href="{{ s.source_url }}">[{{ s.source_key }}]</a>
                    {% endif %}
                </b>
            </div>
            {% if s.found %}
                <div class="card-body p-3 pb-0 pt-0">
                    {% include 'enrich/_entity.html' with e=s.result %}
                </div>
            {% elif s.status == s.Status.ERROR %}
                {% if user.is_superuser %}
                    <pre>
                    {{ s.error_message }}
                </pre>
                {% endif %}
            {% else %}
                <ul class="list-group">
                    {% for e in s.result %}
                        <li class="list-group-item list-group-item-danger pb-1 pt-1">
                            <b><a href="http://www.wikidata.org/entity/{{ e.id }}">
                                [{{ e.id }}]
                            </a></b>
                            {% include 'enrich/_entity.html' %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
