/*------------כללי לכולם-----------*/
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body{
    direction: ltr;
    font-family: 'Open Sans Hebrew', sans-serif !important;
    background-color: #cecece !important;
}

.App-header {
  height: 45px;
  padding: 20px;
  color: white;
  background-color: black;
  position: relative;
}

.jumbotron {
  height: 400px;
  background-image: url(../static/images/film-movie-motion-picture-darker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-family: "Open Sans Hebrew";
    font-size: 60px;
    font-weight: 300;
    line-height: 65px;
    text-align: center !important;
    margin-bottom: 55px;
}

.baseC.container {
    max-width: 1170px !important;
    background-color: white !important;
    padding: 0 !important;
}

button.btn.btn-default.glyphicon.glyphicon-search {
    height: 50px;
    margin-top: -1px;
    z-index: 2;
    color: #5a5e61;
    font-size: 21pt;
    padding-right: 10px;
    margin-left: 1000px;
    border: none;
    background-color: white;
    -webkit-box-shadow: 0 0 1px 10px #D8D8D8;
    box-shadow: 0 0 0 10px #D8D8D8;
}

.searchContainer {
    direction: initial;
    z-index: 2;

}


.btnSearchIdex{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    color: #3e372f;
    direction: rtl;
    padding-right: 10px;
    z-index: 2;
    font-size: 14pt;
    -webkit-box-shadow: 0 0 1px 10px #D8D8D8;
    box-shadow: 0 0 0 10px #D8D8D8;
    border: none;
}

.noPadding{
    padding:0 !important;
}

.padding6{
    padding-right: 6px !important;
}

.btnSearch{
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;}
}

.dropBtnSearch{
    width: -webkit-fill-available;
    height: 50px;
    color: black;
    background-color: #FFFFFF;
}

button#dropdownMenu1 {
    height: 50px;
    width: 160px;
    background-color: #FFFFFF;
    color: #7b7b7b;
    position: absolute;
    right: -25px;
    /* margin-right: 20px; */
}

.logo a img {
    height: 32px;
    width: auto;
    position: absolute;
    right: 70px;
    top: 8px;
}

.btnMenu{
    height: 45px;
    width: 50px;
    background-color: #d8d8d8 !important;
    color: #7b7b7b;
    font-size: x-large;
    position: absolute;
    right: 0;
    top: -45px;
    border: none;
}

.btnMenu:hover {
    background-color: #FFFFFF !important;
}

.btnMenu img {
    margin-top: -4px;
}

.logo span {
    position: absolute;
    right: 189px;
    top: 3px;
    font-size: 10pt;
    text-align: right;
}

a.langHebEng {
    position: absolute;
    left: 18px;
    font-size: 16pt;
    top: 6px;
    color: white;
    line-height: 27px;
}

a.btnBag {
    position: absolute;
    left: 75px;
    top: 9px;
    height: 23px;
    width: 17.7px;
}

select#idselect {
    width: 100%;
    height: 50px;
    color: #7a7a7a;
    direction: rtl;
    margin-right: 10px;
    padding-right: 8px;
    z-index: 2;
    font-size: 14pt;
    -webkit-box-shadow: 0 0 0px 10px #D8D8D8;
    box-shadow: 0 0 0 10px #D8D8D8;
    border: none;
}

div#boxContainer {
    /*background-color: #d8d8d88c;
    height: 72px;
    position: absolute;
    z-index: 1;
    margin-top: -10px;*/
    background-color: #d8d8d88c;
    height: 72px;
    position: relative;
    z-index: 1;
    margin-top: -60px;
    margin-right: -9px;
}

div#searchGroup {
    margin-right: 76px;
}

footer{
    height: 163px;
    margin: 0 auto;
    background-color: #D8D8D8;
    direction: rtl;
}

footer div .col-xs-3 {
    width: 25%;
    margin: 36px auto;
    padding-right: 31px;
    text-align: right;
    font-size: 1.8em;
}

footer h4 {
    font-size: 1.2em;
}

.row.container {
    margin: 0 auto;
}

img#cinemathequeLogoFooter {
    width: 80%;
    max-width: 200px;
    /* margin: 0 auto; */
    margin: auto 17%;
    margin-top: 11px;
}

option:hover {
    color: white !important;
    background-color: #4A4A4A !important;
}

option:active {
    color: white !important;
    background-color: #4A4A4A !important;
}
/*
.changePos{
    float: left !important;
}
*/
/*div#flex-item {
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: center;
    direction: rtl !important;
}*/

.row.justify-content-center {
    direction: rtl;
}

select {
    color: black;
}

form#lang-form {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 16pt;
    color: white;
}

input#lang-switcher {
    background-color: black;
    border: none;
}

ul {
    direction: rtl;
    text-decoration: none;
}

ul li button {
    direction: rtl;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    width: 50%;
}

.pos-f-t {
    width: 338px;
    direction: rtl;
    position: absolute;
    right: 0px;
    top: 45px;
    padding-top: 0px;
    background-color: #4a4a4a;
    z-index: 4;
}

div.bg-inverse > button {
        display: block;
    height: 50px;
    padding-right: 20px;
    background-color: #4A4A4A;
    border: none;
    z-index: 4;
}

div.bg-inverse > button:hover {
    background-color: #FFFFFF;
    color: #4A4A4A;
    width: -webkit-fill-available;
    text-align: right;
}


a.btnSearchIcon.glyphicon.glyphicon-search {
    position: absolute;
    font-size: 16pt;
    color: white;
    top: 10px;
    left: 111px;
    text-decoration: none;
}

select.dropdown.dropBtnSearchUp {
    position: absolute;
    left: 432px;
    top: 5px;
    height: 35px;
    color: #595d60;
    direction: rtl;
    padding-right: 10px;
}

/*.dropdown {
    -webkit-box-shadow: 0 0 1px 10px #D8D8D8;
    box-shadow: 0 0 0 10px #D8D8D8;
}*/

input.upperSearchInput {
    position: absolute;
    left: 197px;
    top: 5px;
    height: 35px;
    width: 230px;
    direction: rtl;
    padding-right: 10px;
    color: #3e372f;
}

button.searchIcon.glyphicon.glyphicon-search {
    position: absolute;
    height: 35px;
    width: 35px;
    color: #5a5e61;
    font-size: 16pt;
    border: none;
    top: 5px;
    left: 158px;
    background-color: white;
    text-decoration: none;
}

div.hideSearchBar {
    display: none;
}

div.showSearchBar {
    display: block;
}

h5.mt-0.mb-1 {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 14px !important;
}

iframe.d-flex.col-xs-7 {
    height: auto;
    min-height: 300px;
}

button.btn.btn-secondary.btn-lg:hover {
    background-color: #f0f0f0;
    color: #8d7e56;
}

.media.row {
    direction: ltr;
    margin-bottom: 30px;
}

.list-group-item.active {
    color: #fff;
    border-color: #5c5544;
    height: 67px;
    width: 338px;
    padding-top: 20px;
    border: none;
    font-size: 16pt;
    font-weight: 700;
}

a.list-group-item.list-group-item-action {
    background-color: #4a4a4a;
    color: white;
    height: 67px;
    width: 338px;
    font-size: 13pt;
    padding-top: 20px;
}

a.list-group-item.list-group-item-action:hover {
    background-color: #ffffff;
    color: #4a4a4a;
}

a.list-group-item.list-group-item-action.disabled {
    color: black;
    background-color: #393939;
}

.list-group-item{
    border: none;
}

.list-group {
    text-align: right;
}

#contentHeb{
    direction: rtl;
    text-align: right;
}

#contentHeb > p {
    font-size: 1.5em;
}

a.btn.btn-secondary.btn-lg:hover {
    color: white;
}

a.btn.btn-secondary.btn-lg {
    border: none !important;
    color: black;
    font-weight: 600;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.container {
    direction: rtl;
}
/*------------------------------------------------*/
.container-image {
    position: relative;
    width: 300px;
    /*margin-bottom: 30px;*/
    margin: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #b08f49a1;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container-image:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.collection-class {
    background-color: #3e3e3ea8;
    width: -webkit-fill-available;
    height: 46px;
    position: absolute;
    bottom: 0px;
}

button.btnRegular {
    padding: 21px;
    color: black;
    font-weight: 700;
    border: none;
}

.list-group {
    position: absolute;
    top: 0;
    right: 0;
}

.bg-inverse.p-4 {
    height: 100vh;
}

/*------------------------------------------------*/


div#smaller_jum {
    height: 130px;
}

h1#h1reasult {
    background-color: #4a4a4a;
    color: #fcfcfc;
    font-weight: 100;
    font-size: 18pt;
    padding: 10px;
    position: relative;
    margin-top: -20px;
    text-align: right;
}

div#aboutJumb {
    background-image: url(../static/images/archivelia.jpg) !important;
    height: 240px;
    background-size: cover;
    background-position-y: 25%;
}

h1#innerTitle {
    font-weight: 400;
    text-align: right !important;
    color: black;
    font-size: 18pt !important;
    margin-bottom: 15px;
}

.innerpages{
    width: 75%;
}

.baseC {
    background-color: white;
}

article > section > p {
    font-size: 12pt;
    text-align: right;
}

a.col-4 > img {
    width: 100%;
}

a.col-4 > img {
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

a.col-4 > h4 {
    position: absolute;
    width: 100%;
    top: 40%;
    color: black;
    font-size: 2vw;
    font-weight: 700;
    text-align: center !important;
    padding-left: 35px;
    z-index: 3;
}

article {
    margin-bottom: 50px;
}

footer {
    margin-top: 30px;
}

/*----------------------------------Search Results----------------------------*/

.row.justify-content-between {
    font-size: 14pt;
    margin-top: 14px;
    direction: rtl;
    height: 34px;
}
select.dropdown.dropBtnSearchUp.sortDropdown {
    position: absolute;
    left: 14px;
    top: -2px;
}

.col-6.sortBy > span {
    position: absolute;
    left: 200px;
}

img.col-3 {
    height: 100%;
}

.col-9 > section > h3 {
    font-size: 2em;
}

.col-9 > section > h3 > span {
    font-size: 0.8em;
}

.col-9 > section > p {
    font-size: 1.5em;
}

.col-9 > section {
    direction: rtl;
    text-align: right;
}

.row.movieResult {
    background-color: #e9e9e9;
    padding: 14px 0;
    margin: 10px auto;
}

.col-6 span {
    direction: rtl;
    position: absolute;
    right: 15px;
}

.collection {
    margin-top: 20px;
}

/*------------------------------------------------------*/

input[type="image"] {
    width: 35px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 20px;
}

input[type="image"]:hover {
    background-color: #ffefbe;
    cursor: pointer;
}

input.addToChart {
    top: -13px;
    left: 38px;
}


@media screen and (max-width: 844px){
    div#boxContainer {
        /*width: 100%;
        position: absolute;
        right: 0;*/
        /*width: 80%;
        margin-left: 25px;*/
        margin-right: 16px;
    }

    div#contentHeb {
        width: 100%;
        margin-top: 15px;
    }

    iframe.d-flex.col-xs-7 {
        width: 100%;
    }

    .jumbotron {
        height: 266px;
    }

    h1 {
        font-size: 3em !important;
    }

    .row.justify-content-center {
        margin-right: -66px;
    }
}