/*------------כללי לכולם-----------*/
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body{
    direction: rtl;
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.App-header {
  height: 45px;
  padding: 20px;
  color: white;
  background-color: black;
}

.jumbotron {
  height: 400px;
  background-image: url(../static/images/film-movie-motion-picture-darker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-family: "Open Sans Hebrew";
    font-size: 60px;
    font-weight: 300;
    line-height: 65px;
    text-align: center !important;
    margin-bottom: 55px;
}


button.btn.btn-default.glyphicon.glyphicon-search {
    margin-top: -1px;
    margin-right: -26px;
}

.searchContainer {
    direction: initial;
}

.btnSearchIdex{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    color: #3e372f;
    direction: ltr;
    padding-left: 10px;
    /*margin-left: 10px;*/
}

.btnSearch{
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;}
}

.dropBtnSearch{
    width: -webkit-fill-available;
    height: 50px;
    color: black;
    background-color: #FFFFFF;
}

button#dropdownMenu1 {
    height: 50px;
    width: 160px;
    background-color: #FFFFFF;
    color: #7b7b7b;
    position: absolute;
    left: -25px;
    /* margin-right: 20px; */
}

.logo a img {
    height: 32px;
    width: auto;
    position: absolute;
    right: 70px;
    top: 8px;
}

.btnMenu{
    height: 45px;
    width: 50px;
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: #7b7b7b;
    font-size: x-large;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
}

.btnMenu:hover {
    background-color: #FFFFFF;
}

.btnMenu img {
    margin-top: -4px;
}

.logo span {
    position: absolute;
    right: 189px;
    top: 15px;
}

a.langHebEng {
    position: absolute;
    left: 18px;
    font-size: 16pt;
    top: 6px;
    color: white;
    line-height: 27px;
}

a.btnBag {
    position: absolute;
    left: 75px;
    top: 9px;
    height: 23px;
    width: 17.7px;
}

select#idselect {
    width: 100%;
    height: 50px;
    color: #7a7a7a;
    direction: ltr;
    margin-right: 26px;
    padding-left: 8px;
}

div#boxContainer {
    background-color: #d8d8d88c;
    height: 72px;
    width: 65%;
    margin: 0 auto;
    margin-top: -11px;
}

div#searchGroup {
    margin-left: 76px;
}