/*------------כללי לכולם-----------*/
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

body{
    direction: rtl;
    font-family: 'Open Sans Hebrew', sans-serif !important;
}

.App-header {
  height: 45px;
  padding: 20px;
  color: white;
  background-color: black;
}

.jumbotron {
  height: 400px;
  background-image: url(../static/images/film-movie-motion-picture-darker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-family: "Open Sans Hebrew";
    font-size: 60px;
    font-weight: 300;
    line-height: 65px;
    text-align: center !important;
    margin-bottom: 55px;
}


button.btn.btn-default.glyphicon.glyphicon-search {
    margin-top: -1px;
    margin-left: -12px;
    z-index: 2;
}

.searchContainer {
    direction: initial;
    z-index: 2;

}


.btnSearchIdex{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    color: #3e372f;
    direction: ltr;
    padding-left: 10px;
    margin-left: 12px;
    z-index: 2;
}

.btnSearch{
    height: 50px;
    width: 50px;
    background-color: #FFFFFF;}
}

.dropBtnSearch{
    width: -webkit-fill-available;
    height: 50px;
    color: black;
    background-color: #FFFFFF;
}

button#dropdownMenu1 {
    height: 50px;
    width: 160px;
    background-color: #FFFFFF;
    color: #7b7b7b;
    position: absolute;
    left: -25px;
    /* margin-right: 20px; */
}

.logo a img {
    height: 32px;
    width: auto;
    position: absolute;
    left: 70px;
    top: 8px;
}

.btnMenu{
    height: 42px;
    width: 50px;
    background-color: #d8d8d8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: #7b7b7b;
    font-size: x-large;
    position: absolute;
    left: 0;
    top: -43px;
    border: none;
}

.btnMenu:hover {
    background-color: #FFFFFF;
}

.btnMenu img {
    margin-top: -4px;
}

.logo span {
    position: absolute;
    left: 189px;
    top: 15px;
}

a.langHebEng {
    position: absolute;
    right: 18px;
    font-size: 16pt;
    top: 6px;
    color: white;
    line-height: 27px;
}

a.btnBag {
    position: absolute;
    right: 75px;
    top: 9px;
    height: 23px;
    width: 17.7px;
}

select#idselect {
    width: 100%;
    height: 50px;
    color: #7a7a7a;
    direction: ltr;
    margin-left: 37px;
    padding-left: 8px;
    z-index: 2;
}

div#boxContainer {
    background-color: #d8d8d88c;
    height: 72px;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
}

div#searchGroup {
    margin-left: 76px;
}

footer{
    height: 163px;
    margin: 0 auto;
    background-color: #D8D8D8;
    direction: ltr;
}

footer div .col-xs-3 {
    width: 25%;
    margin: 36px auto;
}

img#cinemathequeLogoFooter {
    width: 80%;
    max-width: 200px;
    /* margin: 0 auto; */
    margin: auto 17%;
    margin-top: 11px;
}

option:hover {
    color: white !important;
    background-color: #4A4A4A !important;
}

option:active {
    color: white !important;
    background-color: #4A4A4A !important;
}
/*
.changePos{
    float: left !important;
}
*/
div#flex-item {
    width: 100%;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: flex;
    justify-content: center;
    direction: ltr !important;
}

select {
    color: black;
}

form#lang-form {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16pt;
    color: white;
}

input#lang-switcher {
    background-color: black;
    border: none;
}

ul {
    direction: ltr;
    text-decoration: none;
}

ul li button {
    direction: ltr;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    width: 50%;
}

/*------------------------------------------*/

.pos-f-t {
    width: 323px;
    direction: ltr;
    position: absolute;
    left: 0px;
    top: 45px;
    padding-top: 0px;
    background-color: #4A4A4A;
    z-index: 4;
}

div.bg-inverse > button {
        display: block;
    height: 50px;
    padding-left: 20px;
    background-color: #4A4A4A;
    border: none;
    z-index: 4;
}

div.bg-inverse > button:hover {
    background-color: #FFFFFF;
    color: #4A4A4A;
    width: -webkit-fill-available;
    text-align: left;
}